.wrapper {
  width: 100vw;
  height: 80vh;
  @media screen and (max-width:480px) {
    height: 45vh;
  }
  margin-top: 90px;
  h3 {
    font-weight: 300;
    color: grey;
    font-size: 70px;

  }
  h4 {
    font-size: 70px;
    font-weight: 300;
  }
}
.gradient {
  z-index: -1;
  top: 500px;
  right: 0;
  
  position: absolute;
  width: 450px;
  height: 490px;
}

.skill{
  margin-bottom: 70px;
}