.wrapper {
  width: 100%;
  max-height: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftBlock {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  color: #ffffff99;
  h2 {
    font-size: 48px;
    font-weight: 400;
    &:hover {
      color: white;
      transition-duration: 0.3s;
      transition: color 0.3s ease; /* Added transition for smooth color change */
    }
  }
  p {
    font-weight: 200;
    font-size: 18px;
  }
}
.rightBlock {
  color: #ffffff99;
}
.border {
  opacity: 0.4;
  height: 1px;
  width: 100%;
  background: #ffffff99;
  margin-bottom: 30px;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
