.header {
  height: 100px;
  background: transparent;
  display: flex;
  padding: 30px 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: #fff;
  .logoImage {
    margin-top: 1rem;
    z-index: 22;
    width: 100px;
    height: 100px;
    @media screen and (max-width: 500px) {
      width: 60px;
      height: 60px;
    }
  }

  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;

    p {
      cursor: pointer;
    }
  }

  .icons {
    cursor: pointer !important;
    flex-direction: row;
    column-gap: 20px;
    display: flex;
  }

  .burgerButton {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 30;
    display: flex;
    align-items: center;
  }

  .mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 25;
    padding: 20px;

    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      p {
        font-size: 20px;
        color: white;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: #f39c12;
        }
      }
    }

    .icons {
      display: flex;
      gap: 15px;
      margin-top: 20px;
    }
  }
}

.navLinks {
  display: flex;
  gap: 20px;
}
.topBlock {
  gap: 10px;
  align-items: flex-end;
  display: flex;
  font-size: 25px;
}
